@{
    ViewData["Title"] = "AlunoTurma";

}
<div ng-controller="AlunoTurmaController">
    <div class="card-deck">
        <div class="row">

            <!-- Card Seleção de Turma -->
            <div class="card col-lg-4">
                <div class="card-body">
                    <h2 class="card-title">Selecionar Turma</h2>
                    <form>
                        <div class="form-group">
                            <label for="turma">Selecione a Turma:</label>
                            <select id="turma" class="form-control" ng-model="alunoTurma.turmaId" ng-change="carregarAlunos()">
                                <option value="" disabled>Selecione uma turma</option>
                                <option ng-repeat="turma in turmas" value="{{ turma.id }}">{{ turma.disciplina.nome }} - {{ turma.periodo }}</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Card Lista de Alunos -->
            <div class="card col-lg-4">
                <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                    <h2 class="card-title">Lista de Alunos</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nome</th>
                                    <th>Matrícula</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="aluno in alunos">
                                    <td>
                                        <input type="checkbox" ng-model="aluno.selecionado" ng-disabled="aluno.adicionado">
                                    </td>
                                    <td>{{ aluno.nome }}</td>
                                    <td>{{ aluno.matricula }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-end" ng-click="associarAlunosTurma()">Adicionar Selecionados</button>
                </div>
            </div>

        </div>
    </div>
</div>
