@{
    ViewData["Title"] = "Aluno";

}
<div class="container-fluid" ng-controller="AlunoController">
    <div class="row justify-content-center">
        <!-- Card Adicionar Novo Aluno -->
        <div class="col-lg-4 col-sm-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Adicionar Novo Aluno</h2>
                    <form ng-submit="criarAluno()">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" class="form-control" ng-model="novoAluno.nome" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" class="form-control" ng-model="novoAluno.email" required>
                        </div>
                        <div class="form-group">
                            <label for="matricula">Matrícula:</label>
                            <input type="text" id="matricula" class="form-control" ng-model="novoAluno.matricula" required>
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha:</label>
                            <input type="password" id="senha" class="form-control" ng-model="novoAluno.senha" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Adicionar Aluno</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Card Listar Todos os Alunos -->
        <div class="col-lg-4 col-sm-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">
                        <i class="bi bi-person h5"></i> Listar Todos os Alunos
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-striped" ng-if="alunos.length > 0">
                            <thead>
                                <tr>
                                    <th>Nome:</th>
                                    <th>Email:</th>
                                    <th>Matrícula:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="aluno in alunos" ng-click="getDetails(aluno.id)" ng-class="{ 'table-active': alunoSelecionado === aluno }">
                                    <td>{{ aluno.nome }}</td>
                                    <td>{{ aluno.email }}</td>
                                    <td>{{ aluno.matricula }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p ng-if="alunos.length === 0">Nenhum aluno cadastrado.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Detalhes do Aluno Selecionado -->
        <div class="col-lg-4 col-sm-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Detalhes do Aluno</h2>
                    <div ng-if="aluno.id">
                        <label>Nome:</label> {{aluno.nome}}<br>
                        <label>Email:</label> {{aluno.email}}<br>
                        <label>Matrícula:</label> {{aluno.matricula}}<br>
                    </div>
                    <div ng-if="!aluno.id">
                        <p>Selecione um aluno para ver os detalhes.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
