@{
    ViewData["Title"] = "Turma";

}
<div class="container-fluid" ng-controller="TurmaController">
    <div class="row justify-content-center">
        <!-- Card Adicionar Nova Turma -->
        <div class="col-lg-4 col-sm-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Adicionar Nova Turma</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="criarTurma()">
                        <div class="form-group">
                            <label for="disciplina">Disciplina:</label>
                            <input type="text" id="disciplina" class="form-control" ng-model="novaTurma.disciplinaId" required>
                        </div>
                        <div class="form-group">
                            <label for="periodo">Período:</label>
                            <input type="text" id="periodo" class="form-control" ng-model="novaTurma.periodo" required>
                        </div>
                        <div class="form-group">
                            <label for="professor">Professor:</label>
                            <select id="professor" class="form-control" ng-model="novaTurma.professorId" required>
                                <option ng-repeat="prof in professores" value="{{ prof.id }}">{{ prof.nome }}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Adicionar Turma</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Card Listar Todas as Turmas -->
        <div class="col-lg-4 col-sm-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listar Todas as Turmas</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" ng-if="turmas.length > 0">
                            <thead>
                                <tr>
                                    <th>Disciplina:</th>
                                    <th>Período:</th>
                                    <th>Professor:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="turma in turmas" ng-click="getDetails(turma.id)" ng-class="{ 'table-active': turmaSelecionada === turma }">
                                    <td>{{ turma.disciplina.nome }}</td>
                                    <td>{{ turma.periodo }}</td>
                                    <td>{{ turma.professor.nome }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p ng-if="turmas.length === 0">Nenhuma turma cadastrada.</p>
                </div>
            </div>
        </div>

        <!-- Card Detalhes da Turma Selecionada -->
        <div class="col-lg-4 col-sm-12 mt-3" ng-if="turmas.length > 0">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Detalhes da Turma</h3>
                </div>
                <div class="card-body">
                    <div ng-if="turma.id">
                        <label>ID:</label> {{turma.id}}<br>
                        <label>Disciplina:</label> {{turma.disciplina.nome}}<br>
                        <label>Período:</label> {{turma.periodo}}<br>
                        <label>Professor:</label> {{turma.professor.nome}}<br>
                    </div>
                    <div ng-if="!turma.id">
                        <p>Selecione uma turma para ver os detalhes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>